* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --oswald: 'Oswald', sans-serif;
    --tinos: 'Tinos', serif;
    /* === BLUE/BROWN color scheme === */
    /* --light-primary: #bdd2e9;
    --mid-primary: #135dac;
    --hover-contrast:  #267dd9;
    --dark-primary: #1D2E40;
    --light-contrast: #955904;
    --mid-contrast: #6b5d47;
    --dark-contrast: #403B23; */
    /* === GRAY/GREEN color scheme === */
    --light-primary: #e4e2e3;
    --mid-primary: #655d5f;
    --dark-primary: #454042;
    --light-contrast: #A9B37D;
    --hover-contrast: #A4B309;
    --mid-contrast: #677333;
    --dark-contrast: #4B522D;
}

.page_background {
    margin: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--light-primary)), color-stop(75vh, var(--dark-primary)));
    background: linear-gradient(var(--light-primary), var(--dark-primary) 75vh);
    font-family: var(--oswald);
}

/* ---- GENERIC PAGE ELEMENTS ---- */

a {
    text-decoration: none;
    /* padding-bottom: 2px; */
}

h1[id],
h2[id] {
    font-family: var(--oswald);
    font-weight: 300;
    font-size: 26px;
    line-height: 1.2em;
    color: var(--dark-contrast);
    margin-top: 1.5em;
    margin-bottom: 0.75em;
}

h2[id] {
    font-weight: 500;
    font-size: 22px;
    color: var(--dark-primary);
}

/* ---- TEMPLATE ELEMENTS ---- */

.page_container {
    width: 95%;
    min-height: 1100px;
    max-width: 1110px;
    margin: 15px auto;
    background: #fff;
    padding-bottom: 100px;
    -webkit-box-shadow: 10px 10px 50px var(--dark-primary);
            box-shadow: 10px 10px 50px var(--dark-primary);
    border: solid 6px var(--light-primary);
}

.page_grid {
    display: grid;
    width: 1075px;
    max-width: 95%;
    margin: 0 auto;
    /* === NAV ON LEFT === */
    grid-template-columns: 2% 25% 5% 65% 3%;
    grid-template-areas: "header header header header header" ". side-nav . content .";
    /* === NAV ON RIGHT === */
    /* grid-template-columns: 3% 64% 5% 25% 3%;
    grid-template-areas: "header header header header header" ". content . side-nav .";
    grid-template-rows: auto;
    grid-row-gap: 40px; */
}

.page_header {
    grid-area: header;
    letter-spacing: 0.04em;
    word-spacing: 0.05em;
}

.page-header_blog-title {
    margin: 15px auto 0 auto;
    height: 50px;
    background: var(--dark-primary);
    color: #fff;
    font-weight: 400;
    font-size: 29px;
    padding: 2px 0 0 16px;
    text-transform: uppercase;
}

.page-header_main-nav {
    height: 33px;
    background: var(--mid-contrast);
    margin: 4px auto;
    list-style-type: none;
}

.page-header_main-nav ul {
    list-style-type: none;
}

.page-header_main-nav a {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    margin: 4px 15px 0 8px;
    padding: 0 10px;
    text-decoration: none;
    float: left;
    border-radius: 6px;
}

.page-header_main-nav a:hover {
    background: var(--dark-primary);
    opacity: 0.9;
}

.page-header_background-image {
    margin: 6px auto;
    height: 128px;
    -webkit-box-shadow: 0 5px 15px var(--mid-primary);
            box-shadow: 0 5px 15px var(--mid-primary);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    border-radius: 0 0 30px 30px;
}

.content-container {
    grid-area: content;
    margin-top: 40px;
}

.date {
    display: block;
    font-weight: 200;
    font-size: 16px;
    color: #000;
    letter-spacing: 0.75px;
}

.tag-capsule {
    display: inline-block;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    background: var(--mid-primary);
    padding: 2px 20px 2px 10px;
    margin: 5px 3px;
    border-radius: 5px;
}

.tag-capsule:hover {
    background: var(--hover-contrast);
}

.tag-capsule a {
    color: #fff;
}

.paginator {
    margin-top: 6px;
    text-align: center;
    color: var(--mid-primary);
    font-size: 19px;
}

.pagination li {
    display: inline-block;
    margin: 0 15px 0 15px;
}

.pagination li a span {
    color: var(--light-contrast);
}

.pagination a:visited {
    color: var(--mid-primary);
}

.pagination a:hover {
    color: var(--hover-contrast);
}

.pagination li a span {
    color: var(--light-contrast);
}

.paginator_info {
    font-size: 0.95em;
    font-weight: 300;
    max-width: 75%;
    display: block;
    margin: 5px auto;
}

.text_italic {
    font-style: italic;
    margin-right: 3px;
    font-weight: 200;
}

/* ---- SIDE NAV ---- */

.side-nav {
    grid-area: side-nav;
    margin-top: 60px;
}

.side-nav section {
    margin-bottom: 25px;
}

.side-nav_section_heading {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
}

.side-nav_line {
    border-bottom: solid 2px var(--light-contrast);
    margin: 4px 0 10px 0;
}

.side-nav_posts,
.side-nav_categories {
    font-weight: 300;
    font-size: 18px;
    list-style-type: none;
    text-transform: capitalize;
}

.side-nav_categories {
    margin: 3px 20px 5px 0;
    display: inline-block;
}

.side-nav_link_post {
    display: inline-block;
    width: 92%;
    padding-bottom: 2px;
    margin-bottom: 8px;
}

.side-nav_link_post, .side-nav_categories a {
    color: var(--dark-primary);
    line-height: 1.25em;
    border-bottom: solid 1px var(--hover-contrast);
}

.side-nav_link_post:hover, .side-nav_categories a:hover {
    color: var(--hover-contrast);
}

.side-nav_link_more-posts {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    color: var(--mid-contrast);
    margin-top: 10px;
}

.side-nav_link_more-posts:hover,
.post-preview_read-more:hover {
    color: var(--hover-contrast);
}

.tag-capsule_side-nav {
    background: var(--dark-primary);
    margin-right: 5px;
}

.side-nav_count {
    font-size: 0.9em;
    letter-spacing: 1px;
    opacity: 0.8;
}

/* ---- POST NAV ---- */

.post-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 45px 0 15px 0;
    border-top: solid 1px var(--light-contrast);
    padding-top: 10px;
}

.post-nav__item {
    text-align: center;
    width: 50%;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
}

.post-nav__item * {
    display: inline;
    color: var(--dark-contrast);
}

.post-nav__post-title {
    font-size: 18px;
    font-weight: 400;
}

.post-nav__post-title:hover,
.post-nav__arrow:hover {
    color: var(--hover-contrast);
}

/* ---- LIST TEMPLATES ---- */

.intro-text_home-page,
.intro-text_list-pages {
    font-weight: 300;
    font-size: 26px;
    color: var(--dark-primary);
}

.intro-text_list-pages {
    background: var(--light-primary);
    border-radius: 7px;
    padding: 8px 15px;
    font-size: 25px;
}

.total-posts {
    font-size: 24px;
}

.post-title {
    margin: 0;
}

.post-preview {
    position: relative;
    top: 40px;
    left: 15px;
    width: 90%;
    margin-bottom: 35px;
}

.post-preview_title {
    font-weight: 500;
    font-size: 24px;
    color: var(--dark-contrast);
}

.post-preview_title:hover {
    color: var(--hover-contrast);
}

.post-preview date {
    color: #000;
    margin-bottom: 10px;
}

.thumbnail {
    float: left;
    display: block;
    max-width: 165px;
    max-height: 125px;
    width: auto;
    height: auto;
    margin: 15px 20px 15px 0;
    border-radius: 0 15px 15px 0;
}

.ellipsis {
    color: var(--light-contrast);
    margin-left: 5px;
    letter-spacing: -1px;
}

.post-preview_copy,
.post_copy {
    font-family: var(--tinos);
    font-size: 19px;
    color: #000;
    line-height: 24px;
    margin-top: 20px;
}

.post-preview_read-more {
    display: block;
    font-weight: 400;
    font-size: 18px;
    color: var(--mid-contrast);
    margin-top: 12px;
}

.post-preview_line {
    width: 95%;
    border-bottom: solid 1px var(--light-contrast);
    margin: 12px 0;
    clear: both;
}

.post_category {
    display: inline;
    font-weight: 400;
    font-size: 19px;
    color: var(--mid-contrast);
    text-transform: capitalize;
}

.post_category:hover {
    color: var(--hover-contrast);
}

.post-preview .date {
    margin-bottom: 4px;
}

.post ul {
    margin-left: 20px;
}

.tag-container {
    display: inline;
    margin-left: 12px;
    position: relative;
    top: -2px;
}

.no-category .tag-container {
    margin-left: 0;
    top: 4px;
}

.post-list_taxonomy-name {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--mid-contrast);
}

/* ---- SINGLE TEMPLATE ---- */

.post_title {
    font-weight: 500;
    font-size: 34px;
    color: var(--dark-primary);
    text-transform: capitalize;
}

.post_copy {
    margin-top: 35px;
}

article .post_copy p {
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 25px;
}

.post_copy a,
.post-preview_copy a {
    text-decoration: underline;
    color: var(--mid-contrast);
}

.post .date {
    letter-spacing: 0.75px;
    margin: 2px 0 15px 0;
}

.post img {
    margin-top: 20px;
    max-width: 95%;
    max-height: 550px;
    height: auto;
    width: auto;
}

figcaption {
    font-weight: 200;
    font-size: 16px;
    margin-left: 3px;
    color: var(--dark-primary);
}

.post .post_category {
    font-size: 21px;
}

/* ---- MEDIA QUERIES ---- */

@media (max-width: 550px) {
    .page_grid {
        width: 98%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-row-gap: 20px;
        grid-template-areas: "header" "content" "side-nav";
    }
    .page-header_main-nav {
        width: 45%;
        height: 180px;
        margin: 6px 0 0 0;
        float: left;
        background: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(103, 115, 51, 0.7)), color-stop(55%, rgba(103, 115, 51, 0.5)), to(rgba(0, 0, 0, 0)));
        background: linear-gradient(to right, rgba(103, 115, 51, 0.7) 30%, rgba(103, 115, 51, 0.5) 55%, rgba(0, 0, 0, 0));
        border-radius: 0 0 0 30px;
    }
    .page-header_main-nav a {
        width: 95%;
        margin: 8px 0 0 5px;
    }
    .page-header_background-image {
        height: 180px;
    }
    .content-container {
        margin-top: 10px;
    }
    .side-nav {
        margin: 0 auto;
        width: 85%;
    }
    .post-preview {
        position: relative;
        top: 15px;
        left: 15px;
        width: 90%;
        margin: 15px 0 35px 0;
    }
    .intro-text_list-pages {
        margin: 7px auto 0 auto;
        width: 95%;
        font-size: 22px;
    }
    .post-preview_copy {
        margin-top: 10px;
    }
    .post-preview img {
        margin: 5px 5px 5px 0;
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
    }
    .tag-capsule {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        margin: 5px 0 0 0;
        padding-bottom: 4px;
    }
    .tag-container {
        margin-left: 6px;
    }
    .post_copy {
        margin: 25px 10px 0 10px;
    }
    .post img {
        display: block;
        margin: 20px auto 0 auto;
    }
    figcaption {
        font-size: 14px;
        margin-left: 3%;
    }
    .pagination li {
        margin: 0 9px 0 9px;
        font-size: 19px;
    }
    .paginator_info {
        font-size: 0.9em;
    }
    .post-nav {
        margin-top: 30px;
    }
    .post-nav__post-title {
        display: none;
    }
    .right-arrow:before {
        content: "prev ";
        text-transform: lowercase;
    }
    .left-arrow:after {
        content: " next";
        text-transform: lowercase;
    }
}